@model List<Post>
@{
    ViewBag.Title = "Recently";
}

<ul class="sortBar">
    <li class="page-item-current">
        <a>Недавние</a>
    </li>
    <li class="page-item">
        <a href="~/Home/Popular">Популярное</a>
    </li>
    <li class="page-item">
        <a href="~/Home/WithoutAnswer">Без ответа</a>
    </li>
</ul>
@{
    var firstPost = Model.First();
    <div class="topic-first">
        <h3 class="topic-title">@firstPost.Title</h3>
        <p class="topic-content">Количество ответов: @firstPost.ResponsesCount</p>
    </div>
}

@foreach (var post in Model.Skip(1))
{
    <div class="topic">
        <h3 class="topic-title">@post.Title</h3>
        <p class="topic-content">Количество ответов: @post.ResponsesCount</p>
    </div>
}

<div class="pagination">
    <div class="Navi">
        <strong class="on">1</strong>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">
            <strong>»</strong>
        </a>

    </div>

</div>