@{
    ViewBag.Title = "Recently";
}

<ul class="sortBar">
    <li class="page-item-current">
        <a>Недавние</a>
    </li>
    <li class="page-item">
        <a href="~/Home/Popular">Популярное</a>
    </li>
    <li class="page-item">
        <a href="~/Home/WithoutAnswer">Без ответа</a>
    </li>
</ul>
<div class="topic-first">
    <h3 class="topic-title">Название темы 1</h3>
    <p class="topic-content">Описание темы 1</p>
</div>

<div class="topic">
    <h3 class="topic-title">Название темы 2</h3>
    <p class="topic-content">Описание темы 2</p>
</div>

<div class="topic">
    <h3 class="topic-title">Название темы 3</h3>
    <p class="topic-content">Описание темы 3</p>
</div>

<div class="topic">
    <h3 class="topic-title">Название темы 4</h3>
    <p class="topic-content">Описание темы 4</p>
</div>

<div class="topic">
    <h3 class="topic-title">Название темы 5</h3>
    <p class="topic-content">Описание темы 5</p>
</div>

<div class="topic">
    <h3 class="topic-title">Название темы 6</h3>
    <p class="topic-content">Описание темы 6</p>
</div>

<div class="topic">
    <h3 class="topic-title">Название темы 7</h3>
    <p class="topic-content">Описание темы 7</p>
</div>

<div class="topic">
    <h3 class="topic-title">Название темы 8</h3>
    <p class="topic-content">Описание темы 8</p>
</div>

<div class="pagination">
    <div class="Navi">
        <strong class="on">1</strong>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">
            <strong>»</strong>
        </a>

    </div>

</div>