@model User
@{
    ViewData["Title"] = "Регистрация";
}
<h1>Регистрация</h1>
<link rel="stylesheet" href="~/css/registrationStyles.css">
<form method="post" asp-controller="Authorization" asp-action="Check">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <span asp-validation-for="UserName"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <input type="submit" value="Регистрация" />
</form>
