/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f3f3f3;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #e31c1c;
    color: white;
    border: none;
    padding: 50px 50px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }

main {
    padding: 20px;
}
