#wrapper {
    height: 100%;
    overflow: hidden;
    padding-bottom: 100px;
    width: 1194px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#content {
    width: 85%;
    float: left;
}

.posts {
    margin-bottom: 120px;
    height: 100%;
    overflow: hidden;
}

.question_list {
    background: none;
    border: none;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.answers-total {
    float: left;
    margin: 0;
    background: #0c5bdc;
    width: 65px;
    height: 65px;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    color: #fff;
    margin-right: 25px;
    border-radius: 3px;
}

.answers-total a {
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 8px;
    color: #fff;
    text-decoration: none;
}

#content .posts .question_list h1 {
    width: 87%;
    font-size: 32px;
    font-weight: bold;
    float: right;
    display: block;
    margin: 0 0 10px;
}

#content .posts .question_list p {
    padding: 0 0 15px 0;
    margin-bottom: 30px;
    width: 87%;
    float: right;
    border-bottom: 1px solid #e5e5e5;
}

#content .question_list p {
    float: left;
    max-width: 86%;
    width: 100%;
    font-size: 14px;
    border-bottom: none;
}

#content p {
    line-height: 28px;
}

#content .question_list p span {
    float: left;
    margin-right: 20px;
}

.question_desc {
    width: 87%;
    float: right;
}

#comments h3 {
    margin: 0 0 60px 0;
    padding: 0;
    font-size: 28px;
}

#comments .commentList {
    padding: 0;
    margin: 0;
    padding-left: 0px;
}

#content #comments .comment {
    margin: 0 0 80px 0;
    list-style: none;
    clear: both;
}

#comments .commentlist li {
    padding-left: 0;
}

.votes {
    float: left;
    width: 75px;
    height: 85px;
    padding: 0;
    text-align: center;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
}

#content p {
    line-height: 28px;
}

.votes span.bnone {
    border: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 13px 0;
}

.content_left {
    margin-right: 40px;
    float: right;
    width: 82%;
    padding: 20px;
    background: #f8f8f8;
}

.fa-regular.fa-thumbs-up {
    margin-right: 10px;
}

.author {
    border-top: 1px solid #e5e5e5;
}

.content_left p {
    margin-bottom: 40px;
}