@{
    ViewBag.Title = "SingIn";
    Layout = "/Views/Shared/_LayoutAuth.cshtml";
}

<div class="container reg_form">
    <form class="row justify-content-center" method="post" action="log.html">
        <h2 class="col-12">Авторизация</h2>
        <div class="mb-3 col-12 col-md-4">
            <label for="formGroupExampleInput" class="form-label">Ваш логин</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="введите ваш логин...">
        </div>
        <div class="w-100"></div>
        <div class="mb-3 col-12 col-md-4">
            <label for="exampleInputPassword1" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword1"
                   placeholder="введите ваш пароль...">
        </div>
        <div class="w-100"></div>
        <div class="mb-3 col-12 col-md-4">
            <button type="submit" class="btn btn-primary">Войти</button>
            <a href="~/Auth/SignUp">Зарегистрироваться</a>
        </div>
    </form>
</div>