@{
    ViewData["Title"] = "Обратная связь";
}

<h1>
    Я распишу нахуй поминутно блять
    Где кто соснул хуйца блять
    Кто сломал вещи блять
    Купил амулет afk встал, свинья ебаная
    Через две недели блять
    Ты умрешь от беспрерывного поноса блять
    Я щас опять добавлю громкости
    Мразь ебаная блядь, чтоб ты меня слышала
    Как думаешь, в пизду твоей матери боинг поместится или нет?
</h1>