@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0 auto;
    
}

header {
    background-color: #0c5bdc;
    color: #fff;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.button {
    background-color: #fff;
    color: #0c5bdc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #f2f2f2;
}

.search_wrap{
	width: 1600px;
	margin: 38px auto;
    margin-bottom: 0px;
}

.search_wrap .search_box{
	position: relative;
	width: 68%;
	height: 40px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #0c5bdc;
    border-radius: 5px;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #2868ce;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
}


.wrapper {
    height: 100%;
    overflow: hidden;
    padding-bottom: 100px;
    width: 1600px;
    margin: 0 auto
    
}

.content {
    width: 68%;
    float: left;
}

.sideBar {
    float: right;
    width: 420px;
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.forum-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

.topic-first {
    padding: 10px;
    margin-bottom: 10px;
}

.topic {
    border-top: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.own-topic-first {
    padding: 10px;
    margin-bottom: 10px;
}

.own-topic {
    border-top: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.topic-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.topic-content {
    margin-bottom: 10px;
}

.search-input {
    width: 1350px;
    height: 32.5px;
    align-items: center;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sortBar {
    margin: 20px 0px 35px 0;
    padding-bottom: 0px;
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: left;
    
}

.sortBarSide {
    margin: 20px 0px 35px 0;
    padding-bottom: 0px;
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: left;
}

.sortBar li a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 15px 22px;
    font-size: 18px;
    font-weight: bold;
}

.widget-login a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 15px 22px;
    font-size: 18px;
    font-weight: bold;
}

.page-item {
    float: left;
    margin: 0 0px 0 0px;
    padding: 0;
    border-bottom: 2px solid #ccc;
    
}

.page-item-current {
    float: left;
    margin: 0 0px 0 0px;
    padding: 0;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.own-topics {
}

.widget-login {
    height: 100%;
    
}

.pagination {
    height: 100%;
    overflow: hidden;
    text-align: center;
    clear: left;
    margin-top: -1px;
    position: relative;
    z-index: 1;
    display: block;
}

.pagination .Navi {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin: 30px 0;
    padding: 18px 0;
}

.pagination .on {
    color: #ffffff;
    background: #0c5bdc; 
    margin-left: 0;
    line-height: 28px;
    border-radius: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    margin-right: 3px;
    display: inline;
    font-weight: bold;
}

.pagination a {
    color: #000000;
    background: #ffff; 
    margin-left: 0;
    line-height: 28px;
    padding: 8px 14px;
    margin-right: 3px;
    display: inline;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

.image-with-text {
    display: flex;
    align-items: center;
}

.leftpic {
    margin-right: 10px;
    width: 80px;
}

.caption {
    display: inline-block;
    font-weight: bold;
}

.widget-login.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}

.btn.btn-primary {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

}