<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/comment">Оставить комментарий</a>
            <a href="/registration">Регистрация</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>